*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Upper block */

.up {
    background-color: yellow;
}
.up__button {
    padding: 5px;
}
.up__form {
    text-align: center;
}
.up__text-input {
    color: blueviolet
}
.text__date {
    border: 1px solid black;
}

/* Upper block end */

/* Bottom block */
.bottom {
    background-color: green;
}

/* Bottom block end */

/* menu block */
.menu {
    padding: 5px;
}
.menu__button {
    padding: 10px;
    border: 0;

}
.menu__button_violet {
    background-color: violet;
}
.menu__button_orange {
    background-color: orange;
}
.menu__button_blue {
    background-color: blue;
}
.menu__button_red {
    background-color: red;
}
/* menu block end */


/* slider block */
.slider {
    padding: 15px;
    height: 300px;
    width: 300px;
}
/* slider block end */